
{% if is_granted('ROLE_EMPRESA') %}
	{% if activo == "todas" %}
		<p>
		Todas las ofertas<br>
		<a href="{{path('salesianos_main_misofertas')}}">Mis Ofertas</a><br>
		<a href="{{path('salesianos_main_nueva_oferta')}}">Publicar Oferta</a><br>
		</p>
	{% else %}
		{% if activo == "mias" %}
			<p>
			<a href="{{path('salesianos_main_ofertas')}}">Todas las ofertas</a><br>
			Mis Ofertas<br>
			<a href="{{path('salesianos_main_nueva_oferta')}}">Publicar Oferta</a><br>
			</p>
		{% else %}
			{% if activo == "nueva" %}
					<p>
					<a href="{{path('salesianos_main_ofertas')}}">Todas las ofertas</a><br>
					<a href="{{path('salesianos_main_misofertas')}}">Mis Ofertas</a><br>
					Publicar Oferta<br>
					</p>
			{% endif %}
		{% endif %}
	{% endif %}
{% else %}
	{% if activo == "todas" %}
		<p>
		Todas las ofertas<br>
		<a href="{{path('salesianos_main_misofertas')}}">Mis Ofertas</a><br>
		</p>
	{% else %}
		{% if activo == "mias" %}
			<p>
			<a href="{{path('salesianos_main_ofertas')}}">Todas las ofertas</a><br>
			Mis Ofertas<br>
			</p>
		{% endif %}
	{% endif %}
{% endif %}
{% if activo != "nueva" %}
	<h3>Filtros de búsqueda</h3>
	{{ form(form) }}
{% endif %}